body {
    font-family: 'Montserrat', sans-serif;
    background-color: #05668D;
    color: #F0F3BD;
    cursor: url('/cursor-dark.png'), auto;
    margin: 0;
    overflow-x: hidden;
}

/*
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: auto;
}

.cover {
    grid-column: 1;
    grid-row: 1;
}

#projects {
    grid-column: 1;
    grid-row: 2;
}

#education {
    grid-column: 1;
    grid-row: 3;
}

#articles {
    grid-column: 1;
    grid-row: 4;
}

#contact {
    grid-column: 1;
    grid-row: 5;
}
*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #F0F3BD;
    cursor: url('/cursor-light.png'), auto;
    position: relative ;
    left: 0;
    top: 0;
    width: 100%;
}

nav {
    align-self: center;
    padding: 0.5em;
    margin: 0.5em;
}

nav a {
    color: #F0F3BD;
    justify-self: center;
    cursor: url('/cursor-light-hover.png'), auto;
}

main {
    background-color: #00A896;
}

h1 {
    color: #F0F3BD;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

h2 {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    color: #05668D;
    text-align: center;
}

h3 {
    color: #02C39A;
}

/* css for the carousel */
label.carousel {
    cursor: url('/cursor-ultralight.png'), auto;
	background: #05668D;
	color: #F0F3BD;
	transition: transform 400ms ease-out;
	display: inline-block;
	width: 100vw;
    min-height: 30vh;
	position: relative;
	z-index: 1;
	text-align: center;
    padding-bottom: 2em;
	background-size: cover;
}

.carousel img {
    margin-inline: auto;
}


form.carousel {
	left: 0;
	right: 0;
	white-space: nowrap;
}

input.carousel {
	position: absolute;
}

.keys {
	/*z-index: 10;*/
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #F0F3BD;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

input.carousel:focus ~ .keys {
	opacity: 1;
}

input.carousel:nth-of-type(1):checked ~ label.carousel:nth-of-type(1), 
input.carousel:nth-of-type(2):checked ~ label.carousel:nth-of-type(2),
input.carousel:nth-of-type(3):checked ~ label.carousel:nth-of-type(3){
   z-index: 0;
}

input.carousel:nth-of-type(1):checked ~ label.carousel {
	transform: translate3d(0, 0, 0);
}

input.carousel:nth-of-type(2):checked ~ label.carousel {
	transform: translate3d(-100%, 0, 0);
}

input.carousel:nth-of-type(3):checked ~ label.carousel {
	transform: translate3d(-200%, 0, 0);
}

label.carousel[for="project2"] {
	background: #00A896;
}

label.carousel:before,
label.carousel:after {
    cursor: url('/cursor-light-hover.png'), auto;
	color: #F0F3BD;
	display: block;
	background: #028090;
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
}

label.carousel:before {
	content: "\2771";
	right: 100%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

label.carousel:after {
	content: "\2770";
	left: 100%;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
/* end of carousel styling */

img {
    border-radius: 3px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em;
}

span {
    padding: 1em;
    border-radius: 3px;
}

article {
    margin: 1em;
}

textarea {
    border-radius: 25px;
    border-color: #05668D;
    border-style: solid;
    border-width: 2px;
    background-color: #028090;
    color: #F0F3BD;
    margin: 1em;
    padding: 1em;
    width: auto;
    align-self: stretch;
    outline: unset;
}

input {
    border-radius: 25px;
    border-color: #05668D;
    border-style: solid;
    border-width: 2px;
    background-color: #028090;
    color: #F0F3BD;
    margin: 1em;
    padding: 1em;
    width: auto;
    align-self: stretch;
    outline: unset;
}

::placeholder{
    color: #02C39A;
}

button {
    border-radius: 25px;
    border-color: #028090;
    border-style: solid;
    border-width: 2px;
    background-color: #00A896;
    color: #F0F3BD;
    padding: 0.5em;
    margin: 0.5em;
    align-self: center;
    min-width: 150px;
    cursor: url('/cursor-dark-hover.png'), auto;	
}

footer {
    display: flex;
    justify-content: center;
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;	
    color: #F0F3BD;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

em {
    font-family: 'Poiret One', cursive;
}

.cover {
    position: relative;
    font-family: 'Poiret One', cursive;
    color: #05668D;
    font-size: 6vw;
    text-align: end;
}

.cover img {
    filter: contrast(125%);
    filter: hue-rotate(0deg);
    margin: 0;
}

.centered-text {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.hover-effect:hover {
    opacity: 50%; /*remplacer par animation*/
    cursor: url('/cursor-light-hover.png'), auto;	

}

.grid{
    padding: 1em;
}

.grid div {
    padding: 1em 0;
    margin: 1em;
    border-radius: 5px;
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;
    display: flex;
    flex-direction: column;
}

.grid-vertical {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    padding-bottom: 3em;
}

.grid-vertical div {
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;
}

.education-grid {
    margin: 1em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "id"
    "picture"
    "list"
}

.education-id {
    padding: 1em 5em ;
    border-radius: 5px;
    background-color: #028090;
    grid-area: id;
    text-align: center;
    line-height: 150%;
}

.education-picture {
    border-radius: 5px;
    background-color: #028090;
    grid-area: picture;
    justify-self: center;
    margin: 1em 1em 0 1em;
    max-height: 100%;
    filter: grayscale(100%);
}

.education-list{
    padding: 1em 1em 1em 5em ;
    border-radius: 5px;
    background-color: #028090;
    grid-area: list;
    display: grid;
    gap: 2em;
    line-height: 150%;
}

.education-list article{
    text-align: justify;
}

#education{
    background-color: #02C39A;
}

#contact{
    background-color: #02C39A;
}

/*desktop mode*/
@media screen and (min-width:576px) {
    header{
        justify-content: space-between;
    }

    span{
        padding: 2em;
    }

    .grid{
        display: flex;
    }

    .education-grid{
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "id picture"
        "list list"
    }

    .education-picture{
        margin: 0;
        max-width: 100%;
    }

    .education-list article{
        text-align: center;
    }

    input{
        width: 40%;
        max-width: 300px;
        align-self: flex-start;
    }

    .submit{
        align-self: flex-end;
    }

    .grid-vertical {
        margin-left: 20%;
        margin-right: 20%;
    }

}