body {
    background-color: darkcyan;
}

img {
    border-radius: 3px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em;
}

textarea {
    width: 90%;
    padding: 1em;
    margin: 1em;
}

input {
    width: 80%;
    padding: 1em;
    margin: 1em;
}

.dropped-links {
    display: none;
    position: absolute;
    background-color: darkcyan;
}

.dropped-links a {
    display: block;
}

.dropdown:hover .dropped-links {
    display: block;
}

.hover-effect:hover {
    opacity: 50%;
}

.grid {
    gap: 1em;
    padding: 1em;
}

#education div img:nth-child(2) {
    filter: grayscale(100%);
}

/*desktop mode*/
@media screen and (min-width:600px) {
    body {
        background-color: cyan;
    }
    
    input {
        width: 40%;
    }

    .dropped-links {
        background-color: cyan;
    }

    .dropped-links a {
        display: inline-block;
    }

    .grid {
        display: flex;
    }
    
}