body {
    font-family: 'Montserrat', sans-serif;
    background-color: #05668D;
    color: #F0F3BD;
    cursor: url('/cursor-dark.png'), auto;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #F0F3BD;
    cursor: url('/cursor-light.png'), auto;
    position: relative ;
    left: 0;
    top: 0;
    width: 100%;
}

nav {
    align-self: center;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

nav a {
    color: #F0F3BD;
    justify-self: center;
    cursor: url('/cursor-light-hover.png'), auto;
}

main {
    background-color: #00A896;
}

h1 {
    color: #F0F3BD;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

h2 {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    color: #05668D;
    text-align: center;
}

h3 {
    color: #02C39A;
}

img {
    border-radius: 3px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em;
}

span {
    padding: 1em;
    border-radius: 3px;
}

article {
    margin: 1em;
}

textarea {
    border-radius: 25px;
    border-color: #05668D;
    border-style: solid;
    border-width: 2px;
    background-color: #028090;
    color: #F0F3BD;
    margin: 1em;
    padding: 1em;
    width: auto;
    align-self: stretch;
}

input {
    border-radius: 25px;
    border-color: #05668D;
    border-style: solid;
    border-width: 2px;
    background-color: #028090;
    color: #F0F3BD;
    margin: 1em;
    padding: 1em;
    width: auto;
    align-self: stretch;
}

::placeholder{
    color: #02C39A;
}

button {
    border-radius: 25px;
    border-color: #028090;
    border-style: solid;
    border-width: 2px;
    background-color: #00A896;
    color: #F0F3BD;
    padding: 0.5em;
    margin: 0.5em;
    align-self: center;
    min-width: 150px;
    cursor: url('/cursor-dark-hover.png'), auto;	
}

footer {
    display: flex;
    justify-content: center;
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;	
    color: #F0F3BD;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

em {
    font-family: 'Poiret One', cursive;
}

.cover {
    position: relative;
    font-family: 'Poiret One', cursive;
    color: #05668D;
    font-size: 3em;
    text-align: center;
}

.cover img{
    filter: contrast(125%);
    filter: hue-rotate(0deg);
    margin: 0;
}

.centered-text {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.hover-effect:hover {
    opacity: 50%; /*remplacer par animation*/
    cursor: url('/cursor-light-hover.png'), auto;	

}

.grid {
    gap: 1em;
    padding: 1em;
}

.grid div {
    border-radius: 5px;
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;
    display: flex;
    flex-direction: column;
}

.grid-vertical {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.grid-vertical div {
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;
}

.education-grid {
    display: grid;
    gap: 2em;
    grid-template-columns: 1;
    grid-template-rows: auto 15em auto;
    grid-template-areas:
    "id"
    "picture"
    "list"
}

.education-id {
    margin: 1em;
    border-radius: 5px;
    background-color: #028090;
    grid-area: id;
}

.education-picture {
    margin: 1em;
    border-radius: 5px;
    background-color: #028090;
    grid-area: picture;
    justify-self: center;
    margin: 1em;
    max-height: 100%;
    filter: grayscale(100%);
}

.education-list {
    margin: 1em;
    border-radius: 5px;
    background-color: #028090;
    grid-area: list;
    display: grid;
    gap: 2em;
    grid-template-columns: 1;
}

#project-swipe div {
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;
}

#education {
    background-color: #02C39A;
}

#contact {
    background-color: #02C39A;
}

/*desktop mode*/
@media screen and (min-width:576px) {
    span {
        padding: 2em;
    }
    
    input {
        width: 40%;
        max-width: 300px;
        align-self: flex-start;
    }

    .grid {
        display: flex;
    }

    .education-grid {
        grid-template-columns: 1fr auto;
        grid-template-rows: 25em auto;
        grid-template-areas:
        "id picture"
        "list list"
    }

    .education-picture {
        justify-self: end;
    }

    .education-list {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto auto auto;
    }

    #project-swipe {
        display: flex;
        flex-wrap: wrap;
    }

    #project-swipe div {
        flex: 300px;
    }

    .submit {
        align-self: flex-end;
    }
    
}