body {
    background-color: #05668D;
    color: #F0F3BD;
    cursor: url('/cursor-dark.png'), auto;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #F0F3BD;
    cursor: url('/cursor-light.png'), auto;	
    position: relative ;
    left: 0;
    top: 0;
    width: 100%;
}

nav {
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

nav a {
    color: #F0F3BD;
    justify-self: center;
}

main {
    background-color: #00A896;
}

h1 {
    color: #F0F3BD;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}

h2 {
    padding-top: 1.5em;
    color: #05668D;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h3 {
    color: #02C39A;
    font-family: 'Montserrat', sans-serif;
}

img {
    border-radius: 3px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em;
}

span {
    padding: 1em;
    border-radius: 3px;
}

article {
    margin: 1em;
}

textarea {
    margin: 1em;
    padding: 1em;
    width: auto;
    align-self: stretch;
}

input {
    margin: 1em;
    padding: 1em;
    width: auto;
    align-self: stretch;
}

button {
    padding: 0.5em;
    margin: 0.5em;
    align-self: center;
    min-width: 150px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;	
    color: #F0F3BD;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.cover {
    position: relative;
    font-family: 'Poiret One', cursive;
    color: #05668D;
    font-size: 3em;
    text-align: center;
}

.cover img{
    filter: contrast(125%);
    filter: hue-rotate(0deg);
    margin: 0;
}

.centered-text {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.hover-effect:hover {
    opacity: 50%; /*remplacer par animation*/
}

.grid {
    gap: 1em;
    padding: 1em;
}

.grid div {
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;
    display: flex;
    flex-direction: column;
}

.grid-vertical {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.grid-vertical div {
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;
}

#project-swipe div {
    background-color: #05668D;
    cursor: url('/cursor-light.png'), auto;
}

#education {
    background-color: #02C39A;
}

#education div img:nth-child(2) {
    filter: grayscale(100%);
}

#contact {
    background-color: #02C39A;
}

/*desktop mode*/
@media screen and (min-width:576px) {
    span {
        padding: 2em;
    }
    
    input {
        width: 40%;
        max-width: 300px;
        align-self: flex-start;
    }

    .grid {
        display: flex;
    }

    #project-swipe {
        display: flex;
        flex-wrap: wrap;
    }

    #project-swipe div {
        flex: 300px;
    }

    .submit {
        align-self: flex-end;
    }
    
}